{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

<!-- Lots of HTML inspiration from staff solutions -->
{% block main %}
    <table class="table tablestriped">
        <thead>
            <tr>
                <th class="text-start">Name (Symbol)</th>
                <th class="text-end">Shares</th>
                <th class="text-end">Price</th>
                <th class="text-end">Time of Transaction</th>
            </tr>
        </thead>
        <tbody>
        <!-- Loop through transactions and display them -->
            {% for transaction in portfolio %}
                <tr>
                    <td class="text-start">{{transaction["stock"]}} ({{transaction["symbol"]}})</td>
                    <td class="text-end">{{transaction["shares"]}}</td>
                    <td class="text-end">{{transaction["share_price"] | usd}}</td>
                    <td class="text-end">{{transaction["time"]}}</td>
                </tr>
            {% endfor %}
        </table>
{% endblock %}
