{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}

<!-- HTML inspiration from staff solutions (the tags inside input) -->
{% block main %}
    <!-- Look up a certain stock by its symbol-->
    <form action="/quote" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="symbol" placeholder="Symbol" type="text" required>
        </div>
        <button class="btn btn-primary" type="submit">Quote</button>
    </form>
{% endblock %}
