{% extends "layout.html" %}

<!-- Title is the stock name -->
{% block title %}
    {{symbol["symbol"]}} Stock
{% endblock %}

<!-- Displays the quoted stock with its name, symbol, and current price (along with a user friendly button to look up another stock) -->
{% block main %}
    <h1> {{symbol["name"]}} ({{symbol["symbol"]}}) </h1>
    <h3> The current share price of {{symbol["symbol"]}} costs {{symbol["price"] | usd}}</h3>
    <a href="/quote" class="btn btn-primary"> Look up another symbol </a>
{% endblock %}
