{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

<!-- I love copying and pasting from login.html and just replacing everything with register -->
<!-- Also everything should be required so input can't be blank -->
{% block main %}
<!-- Form to collect username, password, and their retypyed password -->
    <form action="/register" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="username" placeholder="Username" type="text" required>
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="password" placeholder="Password" type="password" required>
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="confirmation" placeholder="Confirm Password" type="password" required>
        </div>
        <button class="btn btn-primary" type="submit">Register Account</button>
    </form>
{% endblock %}
