{% extends "layout.html" %}

{% block title %}
    Update Password
{% endblock %}

<!-- I love copying and pasting from register.html -->
<!-- Also everything should be required so input can't be blank -->
{% block main %}
<!-- Form to collect username, old password, and their new password and retyped -->
    <form action="/updatepassword" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="username" placeholder="Username" type="text" required>
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="old_password" placeholder="Old Password" type="password" required>
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="new_password" placeholder="New Password" type="password" required>
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="confirmation" placeholder="Confirm New Password" type="password" required>
        </div>
        <button class="btn btn-primary" type="submit">Update Password</button>
    </form>
{% endblock %}
