{% extends "layout.html" %} {% block title %} Update Password {% endblock %} {%
block main %}

<!-- Password Update Form -->
<form action="/update_password" method="POST">
  <!-- Username Input Field -->
  <div class="mb-3">
    <input
      autocomplete="off"
      autofocus
      class="form-control mx-auto w-auto"
      name="username"
      placeholder="Username"
      type="text"
      required
    />
  </div>

  <!-- Old Password Input Field -->
  <div class="mb-3">
    <input
      class="form-control mx-auto w-auto"
      name="old_password"
      placeholder="Old Password"
      type="password"
      required
    />
  </div>

  <!-- New Password Input Field -->
  <div class="mb-3">
    <input
      class="form-control mx-auto w-auto"
      name="new_password"
      placeholder="New Password"
      type="password"
      required
    />
  </div>

  <!-- Confirm New Password Input Field -->
  <div class="mb-3">
    <input
      class="form-control mx-auto w-auto"
      name="confirmation"
      placeholder="Confirm New Password"
      type="password"
      required
    />
  </div>

  <!-- Submit Button -->
  <button class="btn btn-primary" type="submit">Update Password</button>
</form>
{% endblock %}
